.color {
  display: block;
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50%;
}
.colors {
  display: flex;
  gap: 1rem;
}
.product {
  display: flex;
  align-items: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.product > * {
  flex-basis: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}
img {
  width: 100%;
  object-fit: cover;
  max-width: 600px;
}
.product-name {
  font-size: 2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media screen and (max-width: 800px) {
  .product {
    flex-direction: column;
  }
}
